<div id="<%= dom_id comment %>" class="flex flex-row w-full gap-3">
  <%= gravatar_for(comment.user, class: 'w-6 h-6 relative ring-white ring-2') %>
  <div class="flex-auto p-3 rounded-md ring-1 ring-inset ring-gray-200">
    <div class="flex justify-between gap-x-4">
      <div class="py-0.5 text-xs/5 text-gray-500"><span class="font-medium text-gray-900"><%= comment.user_username %></span> commented</div>
      <%= time_tag comment.created_at, time_ago_in_words(comment.created_at), class: "flex-none py-0.5 text-xs/5 text-gray-500" %>
    </div>
    <p class="text-gray-500 whitespace-pre-wrap text-sm/6"><%= comment.body %></p>
  </div>
</div>
